@import "~bootstrap/scss/bootstrap";

#links{
    background-color:#0282F9;

}
header{
    span{
        a{
            font-weight:bold;
            font-size:0.9rem;
        }
    }
    .my-navbar{
        ul{
            list-style:none;
            li{
                a{
                    color:#464646;
                    font-weight:600;
                }
                .link-border{
                    border-bottom:3px solid #0282F9;
                    color:#0282F9;
                }
            }
            .my-searchbar{
                input{
                    border:none;
                    border-bottom: 2px solid #0282F9;
                    font-weight:600;
                    text-align:end;
                }

            }
        }
    }
}

main{
    #jumbotron{
        min-height:40vh;
        background-image:url('/images/jumbotron.jpg');
        position:relative;

        .my-btn{
            position:absolute;
            bottom:-30px;
            z-index:1;
        }
    }
    #series{
        background-color:#1C1C1C;
        padding-top:80px;
        .container{

            .row{
                .card{
                    background-color:transparent;
                    color:white;
                    max-height:350px;
                    border:none;
                    img{
                        height:250px;
                        object-fit:cover;
                        object-position:10% 10%;;
                    }
                }
            }
            button{
                padding: 8px 50px;
                border-radius:0px;
            }
        }
    }
    #icons{
        background-color:#0282F9;
        .container{
            .row{
                .my-col{
                    display:flex;
                    width:calc(100% / 5);
                    align-items:center;
                    justify-content:space-between;
                    flex-wrap:wrap;
                    .img-container{
                        height:50%;
                        img{
                            height:100%;
                            max-width:50%;
                        }
                        span{
                            color:white;
                            font-weight:bold;
                            text-transform:uppercase;
                            font-size:0.9rem;
                        }
                    }
                }
            }
        }
    }
}

footer{
    #footer-top{
        background-image:url('/images/footer-bg.jpg');
        background-size:cover;
        overflow:hidden;

        ul{
            list-style:none;
            padding:0;
            li{
                color:white;
                a{
                    color:#8d8d8d;
                    text-decoration:none;
                    font-size:0.9rem;
                }
            }
        }
        .col-8{
            position:relative;
            .logo-container{
                position:absolute;
                right:0;
                top:-40%;

            }
        }
        .row{
            .col-12{
                font-size:0.9rem;
                p{
                    color:#8d8d8d;
                    a{
                        text-decoration:none;
                    }
                }
                a{
                    text-decoration:none;
                }
            }
        }
    }
    #footer-bottom{
        background-color:#1C1C1C;
        .footer-left{
            button{
                background-color:transparent;
                border:2px solid #0282F9;
                border-radius:2px;
                padding:12px 24px;
                font-weight:bold;
                color:white;
            }
        }
        .footer-right{
            h5{
                color:#0282F9;
            }
            a{
                text-decoration:none;
            }
        }
    }
}


